/* RESET */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  html {
    scroll-behavior: smooth;
  } /* END RESET */

body {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    text-align: center;
    min-width: 320px;
    max-width: 800px;
}

.container {
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    margin: 2rem 0.75rem 0;
    padding: 1.25rem;
    background: #1B244A;
}

.container > div:first-child {
    margin-right: 2rem;
}

h1 {
    font-size: 2.25rem;
    margin: 0 1.5rem 1.75rem;
}
h3 {
    color: white;
    font-size: 3.5rem;
    margin: 1.25rem 0;
    letter-spacing: 3px;
}

#home-score, #guest-score {
    font-size: 6.25rem;
    color: orangered;
    width: 250px;
}

#home-score, #guest-score, #show-period {
    font-family: 'Orbitron', sans-serif;
    background: black;
    margin-bottom: 1.25rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

#show-period {
    margin-bottom: 0;
    width: 5rem;
    color: orangered;
}

.period {
    justify-content: space-between;
    height: 6.25rem;
    font-size: 2rem;
    background: slategrey;
    color: white;
    margin-top: 0.5rem;
}

.increment {
    display: flex;
    justify-content: space-between;   
}

button {
    font-size: 2rem;
    border: 2px solid gray;
    padding: 0.5rem;
    background: none;
    color: lightgray;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

button:focus,
button:active {
    outline: none;  
}

#reset {
    margin: 0 auto;
}

#reset, .period button {
    width: 300px;
    font-size: 1.5rem;
    background: green;
    color: white;
    border: 1px solid transparent;
}

.period button {
    width: 150px;
}

button:hover, button#reset:hover {
    background: gold;
    border: 2px solid gold;
    color: black;
    border: 1px solid transparent;
}