/* RESET */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  html {
    scroll-behavior: smooth;
  } /* END RESET */

  :root {
    --width: 25rem;
  }

body {
    font-family: 'Happy Monkey', cursive;
    font-size: x-large;
    text-align: center;
    padding: 20px;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
    min-width: 320px;
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 220px;
    border-radius: 50%;
    border: 6px solid #FF005C;
    background-color: white;
    padding: 2px;
    margin-bottom: 10px;
}
#bday-age {
    background: #FF005C;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}
#bday-date {
    margin: 0;
    background: #FF005C;
    padding: 5px 10px;
    border-radius: 5px;
}

.gift-title {
    margin-bottom: 10px;
}
.gift-hint {
    margin-top: 0;
}

.gift-section {
    margin-top: 50px;
}
.gift-img {
    margin: 0 auto;
    width: var(--width);
    height: var(--width);
    margin-top: 1rem;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}
#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}
#gift-img-hot:hover {
    background-image: url("images/hottie.webp");
}
#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}
#gift-img-badass:hover {
    background-image: url("images/stone-cold.gif");
}

#gift-img-cheers {
    height: 200px;
}
#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

footer {
    margin: 40px auto 0;
    font-style: italic;
}
.right {
    font-size: 0.75rem;
    text-align: right;
    color: #666;
    margin-top: 30px;
}
span {
    display: block;
    margin-bottom: 4px;
}
a {
    color: steelblue;
    transition: ease-in-out 0.3s all;
}
a:hover {
    text-decoration: none;
    color: #FF005C;
}